@page "/BuildAgenda"
@using VirtualEventAgenda.Models
@using VirtualEventAgenda.Data
@using System.Linq

@inject JsonFileAgendaTopicService AgendaTopicsService
<h1>Agenda Bearbeiten</h1>
<p>Aktuelle Stand der Agenda und Reihenfolge der Session:</p>

<table class="table" width="80%">
    <thead>
        <tr>
            <th width="100px">Topic</th>
            <th width="50px">BO</th>
            <th>Start</th>
            <th>End</th>
            <th>Title</th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var AgendaTopic in AgendaTopics.OrderBy(t => t.OrderId ?? int.MaxValue))
        {
            <tr>
                <td>
                    <button class="btn btn-sm btn-outline-info" type="button" @onclick=" e => SelectAgendaTopic(AgendaTopic.Id.ToString())" data-toggle="modal" data-target="#AgandaTopicModal">Edit</button>
                </td>
                <td>
                @if (AgendaTopic.BreakOutSessions != null) {
                    <button class="btn btn-sm btn-outline-info" type="button" @onclick=" e => SelectAgendaBreakOuts(AgendaTopic.Id.ToString())" data-toggle="modal" data-target="#BreakOutsModal">Edit</button>
                }else 
                {
                <button class="btn btn-sm btn-outline-success" type="button" @onclick=" e => SelectAgendaBreakOuts(AgendaTopic.Id.ToString())" data-toggle="modal" data-target="#BreakOutsModal">New</button>   
                }
                </td>
                <td>@AgendaTopic.StartTime</td>
                <td>@AgendaTopic.EndTime</td>
                <td>@AgendaTopic.Title</td>
                <td><input @bind="@AgendaTopic.OrderId" class="form-text-orderID"  /></td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success" type="button" @onclick="NewAgendaTopic">New</button>
<button class="btn btn-primary" type="button" @onclick="HandleSubmit">Save</button>


@if (showDialog)
{

    <div class="modal fade show " id="AgandaTopicModal" style="display:block" role="dialog" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AgandaTopicTitle">@selectedAgendaTopic.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="DialogCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Title:</td>
                            <td><input @bind="selectedAgendaTopic.Title" class="form-text"/></td>
                        </tr>
                        <tr>
                            <td>Start:</td>
                            <td><input @bind="selectedAgendaTopic.StartTime" class="form-text"/></td>
                        </tr>
                        <tr>
                            <td>End:</td>
                            <td><input @bind="selectedAgendaTopic.EndTime" class="form-text" /></td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><textarea @bind="selectedAgendaTopic.Description" rows="5" class="form-text" /></td>
                        </tr>
                        <tr>
                            <td>PPT-URL:</td>
                            <td><textarea @bind="selectedAgendaTopic.PresentationUrl" rows="3" class="form-text" /></td>
                        </tr>
                        <tr>
                            <td>Teams-URL:</td>
                            <td><textarea @bind="selectedAgendaTopic.TeamsUrl" rows="3" class="form-text" /></td>
                        </tr>
                        <tr>
                            <td>Order</td>
                            <td><input @bind="selectedAgendaTopic.OrderId"  class="form-text"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="DialogCancel">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="DialogSave">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@if (showBreakOut)
{
<div class="modal fade show " id="SelectAgendaBreakOuts" style="display:block" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AgandaTopicTitle">@selectedAgendaTopic.Title Breakouts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="DialogBreakOutsCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Breakouts:</h6>
                @if(selectedAgendaTopic.BreakOutSessions != null) { 
                    @foreach (var Session in selectedAgendaTopic.BreakOutSessions.ToList())
                    {
                        <div class="card">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>Title:</td>
                                        <td><input @bind="Session.Title" class="form-text" /></td>
                                    </tr>
                                    <tr>
                                        <td>Descritpion:</td>
                                        <td><input @bind="Session.Description" class="form-text" /></td>
                                    </tr>
                                    <tr>
                                        <td>Teams-Url:</td>
                                        <td><input @bind="Session.TeamsUrl" class="form-text" /></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    }
                }
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" @onclick="AddBreakOutSession">New Breakout</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" @onclick="DialogBreakOutsCancel">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick="DialogBreakOutsSave">Save</button>
            </div>
        </div>
    </div>
</div>
}

@code {
    private List<AgendaTopic> AgendaTopics;
    AgendaTopic selectedAgendaTopic;
    string selectedAgendaTopicID;
    bool showDialog = false;
    bool showBreakOut = false;
    int maxID = 0;
    int? maxOrderID = 0;


    protected override void OnInitialized()
    {
        AgendaTopics = AgendaTopicsService.GetAgendaTopics().ToList();
        maxID = AgendaTopics.Max(i => i.Id);
        maxOrderID = AgendaTopics.Max(i => i.OrderId);
    }

    private void HandleSubmit()
    {
        AgendaTopicsService.SaveAgendaTopicsAsync(AgendaTopics.ToArray()).Wait();
    }

    void SelectAgendaTopic(string AgendaTopicID)
    {
        selectedAgendaTopicID = AgendaTopicID;
        selectedAgendaTopic = AgendaTopicsService.GetAgendaTopics().First(x => x.Id.ToString() == AgendaTopicID);
        showDialog = true;
    }

    void SelectAgendaBreakOuts(string AgendaTopicID)
    {
        selectedAgendaTopicID = AgendaTopicID;
        selectedAgendaTopic = AgendaTopicsService.GetAgendaTopics().First(x => x.Id.ToString() == AgendaTopicID);
        showBreakOut = true;
    }

    void DialogCancel() => showDialog = false;

    void DialogBreakOutsCancel() => showBreakOut = false;


    void DialogSave()
    {
        //Save the selected Item to the AgendaTopic
        var obj = AgendaTopics.First(x => x.Id == selectedAgendaTopic.Id);

        obj.Title  = selectedAgendaTopic.Title;
        obj.StartTime  = selectedAgendaTopic.StartTime;
        obj.EndTime  = selectedAgendaTopic.EndTime;
        obj.PresentationUrl  = selectedAgendaTopic.PresentationUrl;
        obj.TeamsUrl  = selectedAgendaTopic.TeamsUrl;
        obj.OrderId  = selectedAgendaTopic.OrderId;
        obj.Description = selectedAgendaTopic.Description;
        AgendaTopicsService.SaveAgendaTopicsAsync(AgendaTopics.ToArray()).Wait();
        showDialog = false;
    }

    void DialogBreakOutsSave()
    {
        AgendaTopics.First(x => x.Id == selectedAgendaTopic.Id).BreakOutSessions = selectedAgendaTopic.BreakOutSessions;
        AgendaTopicsService.SaveAgendaTopicsAsync(AgendaTopics.ToArray()).Wait();
        showBreakOut = false;
    }


    void AddBreakOutSession()
    {
        BreakOut newEntry = new BreakOut();
        @if(selectedAgendaTopic.BreakOutSessions != null)
        {
            selectedAgendaTopic.BreakOutSessions.Add(newEntry);
        }else
        {
            selectedAgendaTopic.BreakOutSessions = new List<BreakOut>();
        }

    }

    void NewAgendaTopic()
    {
        AgendaTopic newEntry = new AgendaTopic();
        newEntry.Id = maxID + 1;
        newEntry.OrderId = maxOrderID + 1;
        AgendaTopics.Add(newEntry);
        this.DialogSave();
    }
}


